name: mercuryhealth-web-ci

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.4.0
      with:
        dotnet-version: 3.1.101
    - run: dotnet build -c Release
    - run: dotnet test -c Release
    - run: dotnet publish -c Release -o mercuryhealth-web
    - uses: Azure/webapps-deploy@v1
      with:
        publish-profile: ${{ AzureWebAppPublishProfile }}
        package: ./mercuryhealth-web
      
